body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}
header {
  background-color: #333333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
header h1 {
  margin: 0;
  font-size: 1.5em;
  flex-grow: 1;
  text-align: center;
}
.opiniones {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.opiniones .trash-icon {
  margin-left: 8px;
  font-size: 18px;
}

main {
  display: flex;
  gap: 20px;
}
.sobre-mi {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  background: white;
  border-radius: 8px;
}
.practicas {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  background: white;
  border-radius: 8px;
}
.practicas h2 {
  text-align: center;
}
.practicas ul {
  list-style: none;
  padding: 0;
}
.practicas li {
  margin-bottom: 10px;
  height: 1.2em;
  border-bottom: 2px solid #ccc; /* Simula las líneas onduladas */
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
}
footer button {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}
